.country-flag {
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
}

.country-flag--small {
  font-size: 14px;
}

.country-flag--medium {
  font-size: 16px;
}

.country-flag--large {
  font-size: 20px;
}

.country-flag-fallback {
  vertical-align: middle;
}
